#contacto{
    height: 400px;
    align-content: center;
}
.carousel-item {
    display: none;
  }

  .carousel-item.active {
    display: block;
  }



footer {
  background-color: #000;
  transition: background-color 0.3s ease;
  height: 150px;
  align-content: center;

  
}

footer:hover {
  background-color: #111;
}
html {
  scroll-behavior: smooth;
}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  
  
}

  header {
    background-color: black;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }

  nav a:hover {
    color: #00aaff;
  }

 
